.question-form-title {
  display: flex;
  justify-content: center;
}

.question-form-header {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: white;
}

.question-title-input {
  display: flex;
  justify-content: center;
}

.question-input-text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  resize: none;
  max-width: 300px;
  min-width: 300px;
}

.question-form-content {
  display: flex;
  justify-content: center;
}

#add-question-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: red;
  margin-right: 15px;
}

#add-question-button:hover {
  background-color: black;
  color: white;
}

.question-button-container {
  margin-top: 1%;
  margin-left: 3%;
}

#question-button {
  border: 2px #97b4ff solid;
  color: red;
  font-weight: bold;
  background-color: white;
  width: 70px;
  height: 25px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#question-button:hover {
  background-color: rgb(29, 29, 29);
}
