.home-page-container {
  margin-top: 5%;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-background {
  position: fixed;
  top: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-page-ol {
  /* z-index: -1; */
  margin: 0;
  padding: 0;
  width: 50%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}

.home-page-li {
  border: 2px black solid;
  /* z-index: ; */
  height: 33%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.homepage-ol-background {
  margin: auto;
  z-index: -1;
  width: 50%;
  height: 100%;
  position: absolute;
  grid-area: a, b;
}

#home-page-0 {
  margin-left: auto;
  grid-area: a;
}

a {
  font-weight: bolder;
  color: black;
  font-size: 1.25em;
  list-style: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
