.question-edit-page-container {
        width: 500px;
        min-height: 325px;
}


.question-edit-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-edit-header-container {
  display: flex;
  justify-content: center;
}

.question-error-ul {
  margin-right: 0;
  list-style: none;
}

.question-error-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}

.question-error-text {
  padding-top: 2px;
  width: 91%;
  color: red;
  background-color: white;
}
.question-edit-title {
  color: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
}


.question-edit-input-text {
  max-width: 450px;
  min-width: 300px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  resize: none;
}

.question-edit-button {
  cursor: pointer;
  border: 2px #97b4ff solid;
  color: red;
  font-weight: bold;
  background-color: white;
  width: 70px;
  height: 25px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.question-edit-button:hover {
  background-color: rgb(29, 29, 29);
}

.question-delete-button-container {
  margin-left: 2%;
}

#question-delete-button {
  cursor: pointer;
  border: 2px #97b4ff solid;
  color: red;
  font-weight: bold;
  background-color: white;
  width: 70px;
  height: 25px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#question-delete-button:hover {
  background-color: rgb(29, 29, 29);
}

#edit-button-cancel {
  cursor: pointer;
  border: 2px #97b4ff solid;
  color: red;
  font-weight: bold;
  background-color: white;
  width: 70px;
  height: 25px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#edit-button-cancel:hover {
  background-color: rgb(29, 29, 29);
}


.confirm-edit-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 4px;
  padding-bottom: 5px;
}
