#modal {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  z-index: 1;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 7px;
  width: 325px;
  height: 365px;
}

.modal-cancel {
  z-index: 1;
  color: white;
  margin-top: 400px;
}

.modal-background-img {
  border-radius: 7px;
  z-index: -1;
  position: absolute;
  width: 325px;
  height: 365px;
}
