.answer-form-modal-container{
  padding-top: 10px;
}


.answer-form-container{
        width: 500px;
        min-height: 330px;
}


.answer-form-title {
  display: flex;
  justify-content: center;
}

.answer-form-header {
  color: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.answer-title-input {
  display: flex;
  justify-content: center;
}

.answer-input-text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  resize: none;
  width: 450px;
  min-height: 230px;
}

.answer-form-content {
  display: flex;
  justify-content: center;
}

.answer-button-container {
  padding: 5px 21px 5px 0;
  display: flex;
  justify-content: flex-end;
}

#answer-button {
  cursor: pointer;
  border: 2px #97b4ff solid;
  color: red;
  font-weight: bold;
  background-color: white;
  width: 70px;
  height: 25px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#answer-button:hover {
  background-color: black;
}