.question-detail-page-container {
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.question-detail-outer {
  box-sizing: border-box;
  min-height: 200px;
  width: 40%;

  border: 5px black solid;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url(https://w.wallhaven.cc/full/1j/wallhaven-1j76kv.jpg);
}

.question-detail-container {
  padding-top: 10px;
  box-sizing: border-box;
  margin: auto;
  min-height: 160px;
  max-height: 95%;
  min-width: 95%;
  border: 2px black solid;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.755);
}

.question-detail-title {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.question-detail-user {
  font-size: 0.75rem;
}

.question-detail-content {
  max-width: 575px;
  overflow-x: auto;
}
