.answer-edit-form-header{
  color: red;
}

.open-answer-button {
  cursor: pointer;
  border: 2px #97b4ff solid;
  color: red;
  font-weight: bold;
  background-color: white;
  width: 70px;
  height: 25px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.open-answer-button:hover {
  background-color: rgb(29, 29, 29);
}
