/* TODO Add site wide styles */
html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
}
.root {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(29, 29, 29);
  border-radius: 10px;
}
