.comment-delete-edit-container{
    position: relative;
}

.comment-delete-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 2px;
    right: 5px;
}
.comment-delete-button {
    position: relative;
    cursor: pointer;
    border: 2px #97b4ff solid;
    color: red;
    font-weight: bold;
    background-color: white;
    width: 70px;
    height: 25px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.comment-delete-button:hover {
    background-color: rgb(29, 29, 29);
}