.nav-ul {
  z-index: 1;
  position: fixed;
  top: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  background-color: rgb(29, 29, 29);
  box-sizing: border-box;
  height: 4rem;
  width: 100%;
}
.nav-session {
  display: flex;
}

.nav-logo {
  border: 3px solid black;
  height: 50px;
  width: 100px;
}

.home-button-li {
  margin-left: 15px;
}

.home-button {
  border: none;
  border: 3px solid black;
  cursor: pointer;
  color: rgb(72, 67, 67);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.home-button:hover {
  background-color: black;
  color: white;
}

.fa-solid.fa-house-chimney{
  font-size: large;
}


.profile-button {
  margin-right: 15px;
  color: blue;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile-button:hover {
  background-color: black;
  color: white;
}

.profile-dropdown-menu {
  border: 1px black solid;
  background-color: white;
  border-radius: 14px;
  padding-left: 0;
  position: absolute;
  margin-top: 55px;
  list-style: none;
  width: 150px;
  height: 100px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#dropdown-logout-button {
  border: 2px #97b4ff solid;
  color: red;
  font-weight: bold;
  background-color: white;
  width: 70px;
  height: 25px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#dropdown-logout-button:hover {
  background-color: black;
  color: white;
}
.drop-down-user {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}

.drop-down-user:hover {
  border: 2px black solid;
  background-color: black;
  color: white;
}
