.question-detail-page-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.question-detail-answer-container{
  padding-left: 20%;
}

.question-detail-outer {
  box-sizing: border-box;
  height: 200px;
  width: 575px;
  border: 5px black solid;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url(https://w.wallhaven.cc/full/1j/wallhaven-1j76kv.jpg);
}
.question-detail-container {
  padding-left: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin: auto;
  min-height: 90%;
  max-height: 90%;
  min-width: 95%;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.755);
  overflow-y: auto;
  overflow-x: hidden;
}

.question-detail-title {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  max-width: 500px;
}

.question-detail-user {
  font-size: 0.75rem;
}

.question-detail-content {
  margin-top: 2%;
  max-width: 500px;
  height: 100%;
}

.related-question-container {
  margin-left: 100px;
  overflow-wrap: break-word;
  width: 25vw;
  background-color: white;
  max-height: 350px;
  overflow-y: hidden;
  border: 5px solid black;
}

.releated-question-title {
  padding-left: 5px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.question-detail-ul {
  min-height: 300px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.releated-question-link {
  font-weight: bolder;
  color: black;
  list-style: none;
  text-decoration: none;
}

.releated-question-link:hover {
  border-bottom: 3px blue solid;
}
